 /*STYLESHEET*/

 style.css



 body{
 background-color: #636262; 
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
}
 
main{
background-image: url(321.png);
background-size: cover;
height: 100%;
width: 100%;
}
.bio a{
  color: #636262;
}
h1{
  font-size: 8rem;
  text-align: center;
  background-color: #3c3c3c00;
}

.row{
  display: flex;
  justify-content: space-between; 
  gap: 20px;                    
  margin: 20px;

}

.row a{
color: #636262;
}
.card {
  
  width: 250px;
  padding: 20px;
  background: rgb(34, 34, 34);
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  transition: 0.3s ease;

}

.card1:hover{
  box-shadow: 0 0 15px 4px purple;
}

.card2:hover{
  box-shadow: 0 0 15px 4px red;
}
.card3:hover{
   box-shadow: 0 0 15px 4px maroon;
}



.wrapper {
  background-color: #2c2c2c00; 
  padding: 20px; 
  max-width: 1200px; 
  margin: 0 auto; 

}


.hometext{
  text-align: center;
  margin-top: 20px;
  clear: both;
  font-size: 2rem;
  color: #bdb4b4;
}

header {
  background-color: #33333300; 
  color: rgb(100, 99, 99);
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center; 
  gap: 2rem; 
  font-family: 'Poppins', sans-serif; 
}


header h1 {
  font-size: 2.5rem; 
  color: #ffcc00; 
}

.name a {
  color: #615f5f;
}

header h2 {
  font-size: 1.75rem; 
  color: #c0bfbf; 
}



main {
  max-width: 225rem; 
  margin: 0 ; 
  font-size: 1.125rem; 
  line-height: 1.4; 
  padding: 1rem 3rem; 
}


footer {
  background-color: #333; 
  color: rgb(186, 186, 186);
  padding: 1rem;
  display: flex;
  justify-content: space-around; 
  align-items: center;
}


footer a {
  font-size: 1.5rem;
  color: #c6c6c6; 
  text-decoration: none;
  transition: 0.3s;
}

footer a:hover {
  color: rgb(157, 255, 191); 
  background-color: #bbbab6;
  border-radius: 50%;
  padding: 0.3rem;
}

    .container {
      display: flex;
      justify-content: space-between;
      gap: 10px;
    }

    .box {
      width: 100px; 
      height: 100px;
      background-color: #4CAF50;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      font-size: 18px;
    }
 



/*BIO PAGE*/

.wrapper2 main{
  background-image: url(321.png);
background-size: 1% contain ;
height: 100%;
margin: 0 auto;

}
*/
.name a {
  color: #615f5f;
}

.wrapper2 {
  background-color: #2d2d2d;
}

.wrapper2 h2{
  text-align: center;
  font-size: 4rem;
}

.wrapper2 p{
  font-size: 1.75rem;
  color: #dddddd;
}

h3{
  font-size: 3rem;
  text-align: center;
}

/*MUSIC*/
.morph-box {
  width: 350px;
  height: 200px;
  background: #7a6f6f;
  border: 3px solid #000;
  border-radius: 12px;
  position: relative;
  cursor: pointer;
  transition: all 0.4s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}


.morph-box::after {
  content: '';
  width: 0;
  height: 0;
  border-left: 0 solid transparent;
  border-top: 0 solid transparent;
  border-bottom: 0 solid transparent;
  transition: all 0.4s ease;
  opacity: 0;
}


.morph-box:hover {
  background: #ff0000;         
  border-radius: 50px;         
  border-color: #ff0000;
  transform: scale(1.06);
  box-shadow: 0 10px 20px rgba(0,0,0,0.25);
}


.morph-box:hover::after {
  opacity: 1;
  border-left: 35px solid white; 
  border-top: 22px solid transparent;
  border-bottom: 22px solid transparent;
  transform: translateX(5px); 
}
  .content {
  width: 1000px; 
  height: 100; 
  
}

.content .wrapper2{
  width: 100%; 
  height: 100%; 
  
  background-size: cover;

}

@media screen and (max-width: 100px) {
  .wrapper {
    transform: scale(calc(100vw / 1000));
  }
}

@media screen and (max-height: 600px) {
  .wrapper {
    transform: scale(calc(100vh / 600));
  }
}

/*INSTAGRAM*/
html, body {
  margin: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f2f2f2;
}

.ig-link {
  text-decoration: none;
  display: inline-block;
}

.ig-box {
  width: 350px;
  height: 140px;
  background: #747474;
  border: 3px solid #000;
  border-radius: 12px;
  position: relative;
  cursor: pointer;
  transition: all 0.4s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}


.ig-box::after {
  content: "";
  width: 0;
  height: 0;
  opacity: 0;
  transition: all 0.4s ease;
  position: absolute;
}


.ig-box:hover {
  border-radius: 40px;
  border-color: transparent;
  background: radial-gradient(circle at 30% 30%, #fdf497, #fd5949, #d6249f, #285AEB);
  transform: scale(1.06);
  box-shadow: 0 10px 20px rgba(0,0,0,0.25);
}


.ig-box:hover::after {
  opacity: 1;
  width: 45px;
  height: 45px;
  border: 5px solid white;
  border-radius: 12px;          
  background:
    radial-gradient(circle, white 30%, transparent 31%) center/18px 18px no-repeat,
    radial-gradient(circle, white 12%, transparent 13%) 70% 30%/8px 8px no-repeat;
}



/*OTHERACC*/
