 style.css
 
 
 body{
 background-color: #b8b8b8; 
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
}

h1{
  font-size: 8rem;
  text-align: center;
  background-color: #3c3c3c;
}

.row{
  display: flex;
  justify-content: space-between; 
  gap: 20px;                    
  margin: 20px;

}
.card {
  
  width: 250px;
  padding: 20px;
  background: rgb(34, 34, 34);
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  transition: 0.3s ease;

}

.card1:hover{
  box-shadow: 0 0 15px 4px purple;
}

.card2:hover{
  box-shadow: 0 0 15px 4px red;
}
.card3:hover{
   box-shadow: 0 0 15px 4px maroon;
}


.wrapper {
  background-color: #2c2c2c; 
  padding: 20px; 
  max-width: 1200px; 
  margin: 0 auto; 

}


img {
  max-width: 100%; 
  height: auto; 
  display: block; 
  border: wheat;
   border: 4px solid #333; 
  border-radius: 50%; 
}

header {
  background-color: #333; 
  color: rgb(207, 207, 207);
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center; 
  gap: 2rem; 
  font-family: 'Poppins', sans-serif; 
}


header h1 {
  font-size: 2.5rem; 
  color: #ffcc00; 
}

.name a {
  color: #615f5f;
}

header h2 {
  font-size: 1.75rem; 
  color: #c0bfbf; 
}


.me {
  text-align: center;
  width: 250px; 
  margin: 0 auto; 
}

.me img {
  border: 3px solid #ccc; 
  border-radius: 10px; 
}

.me figcaption {
  font-size: 0.9rem; 
  color: #666;
  margin-top: 0.5rem; 
}


main {
  max-width: 70rem; 
  margin: 0 auto; 
  font-size: 1.125rem; 
  line-height: 1.4; 
  padding: 1rem 3rem; 
}


footer {
  background-color: #333; 
  color: rgb(186, 186, 186);
  padding: 1rem;
  display: flex;
  justify-content: space-around; 
  align-items: center;
}


footer a {
  font-size: 1.5rem;
  color: #c6c6c6; 
  text-decoration: none;
  transition: 0.3s;
}

footer a:hover {
  color: rgb(157, 255, 191); 
  background-color: #bbbab6;
  border-radius: 50%;
  padding: 0.3rem;
}

    .container {
      display: flex; /* Enables Flexbox */
      justify-content: space-between; /* Distribute space evenly between items */
      gap: 10px; /* Optional: adds space between each box */
    }

    .box {
      width: 100px; /* Set width of each box */
      height: 100px; /* Set height of each box */
      background-color: #4CAF50; /* Box color */
      display: flex;
      justify-content: center;
      align-items: center; /* Center text inside the box */
      color: white;
      font-size: 18px;
    }
 



/*BIO PAGE*/

.name a {
  color: #615f5f;
}

.wrapper2 {
  background-color: #2d2d2d;
}

.wrapper2 h2{
  text-align: center;
  font-size: 4rem;
}

.wrapper2 p{
  font-size: 1.75rem;
}

